.body-background-img {
   background: url(../images/Final\ Home\ page.png);
    background-repeat: no-repeat;
    background-size: cover;


}

<!--Navigation bar>
.nav-logo{
      width: 310px;
      height: 113px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

.nav-search{
position: relative;
bottom: -5px;
    }

.nav-item{
   position: relative;
   bottom: -10px;
   justify-content: center;
   align-items: center;

}

.nav a {
   color: white;
   padding: 30px 5px;
   padding-bottom: 0%;
   font-size: 24px;
   font-style: bold;
   font-family: Inter, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
   margin: 17px;
   text-shadow: 4px 4px 4px black;
   bottom: -48px;
}
/* change color on hover*/
.nav a:hover {
  color: #ffe3a0;
} 
<!--hero message>

 .heroimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 150px;
 }   

 .hero-arrow-img p{
  text-align: center;
  position: relative;
  top: 150px;
 }   

 .hero-paragraph {
   font-family: 'Patua One';
   font-size: 34px;
   color: black;
   margin: 100px auto;
   position: relative;
   margin-bottom: 50px;
   text-align: left;
  width: 792px;
  padding: 10px;
  top: 100px;
 }



 .herobutton {
   background-color: #647552;
   border: none;
   color: white;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   font-size: 24px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50px;
   position: relative;
   top: 120px;
 }

 <!--Up Coming Event>

.event h1{
   font-family: 'Patua One';
   font-size: 36px;
   color: green;
   position: relative;
   text-align: center;
   margin: 10px;
   padding: 20px;
 }

 .event p {
   font-family: Inter, Helvetica, sans-serif;
   font-size: 24px;
   color: black;
   position: relative;
   text-align: center;
 }

 .eventbutton {
  background-color: #647552;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top:30px;
 }

/* change color on hover*/
 .eventbutton a:hover {
   background-color: linear-gradient(180deg, #647552, #EBF0E5);
   border-radius: 50px;
   border: 5px solid #4e4d4d;
} 
 #productgrid {
   margin-left: auto;
  margin-right: auto;
   display: grid;
   justify-content: center;
   column-gap: 40px;
   row-gap: 20px;
   min-height: 513px;
   height: 10vh;
   grid-template-rows: 374px 374px 374px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
   "card1 card2 card3";
}

<!--Cards>

.card-body{
color: white;
padding: 10px;
border-radius: 20px;
box-shadow: 6px 6px 6px 6px black;
}

.card-title {
  font-family: 'Patua One';
   font-size: 24px;
   color: black;
   margin-bottom: 10px;
   text-align-last: center;
}

.card-text {
  font-family: Inter, Helvetica, sans-serif;
   font-size: 18px;
   color: black;
   margin-bottom: 10px;
   text-align: left;
}

.btn-primary{ 
  background-color: #647552;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}


<!--Gallery>

.gallery h1{
  font-family: 'Patua One';
  font-size: 36px;
  color: black;
  position: relative;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.gallery p {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  position: relative;
  text-align: center;
}