.body-background-img {
   background: url(../images/Final\ Home\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
}



<!--Navigation bar>
.nav-logo{
      width: 310px;
      height: 113px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

.nav-search{
position: relative;
bottom: -5px;
    }

.nav-item{
   position: relative;
   bottom: -10px;
   justify-content: center;
   align-items: center;

}

.nav a {
   color: white;
   padding: 30px 5px;
   padding-bottom: 0%;
   font-size: 24px;
   font-style: bold;
   font-family: Inter, Helvetica, sans-serif;
   text-decoration: none;
   text-align: center;
   margin: 17px;
   text-shadow: 4px 4px 4px black;
   bottom: -48px;
}
/* change color on hover*/
.nav a:hover {
  color: #ffe3a0;
} 

<!--hero message>

 .heroimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 150px;
 }   

 .hero-arrow-img p{
  text-align: center;
  position: relative;
  top: 150px;
  cursor: pointer;
 }   

 .hero-paragraph {
   font-family: 'Patua One';
   font-size: 34px;
   color: black;
   margin: 100px auto;
   position: relative;
   margin-bottom: 50px;
   text-align: left;
  width: 792px;
  padding: 10px;
  top: 100px;
 }

 .herobutton {
  background-color: #647552;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top: 120px;
 }
/* change color on hover*/
.herobutton:hover {
  background-color:#EBF0E5;
  color:#4e4d4d;
   border: 1px solid #4e4d4d;
   margin: 3px 1px;
} 


 <!--Up Coming Event>

.test1{
   font-family:'Patua One';
   font-size: 36px;
   color: black;
   position: relative;
   text-align: center;
   margin: 10px;
   padding: 20px;
 }

 .test{
   font-family:'Inter', Helvetica, sans-serif;
   font-size: 24px;
   color: black;
   position: relative;
   text-align: center;
 }

 .eventbutton {
  background-color: #647552;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top:30px;
 }

/* change color on hover*/
 .eventbutton:hover {
  background-color: #EBF0E5;
  color: #4e4d4d;
   border: 1px solid #4e4d4d;
   margin: 3px 1px;
} 

.smallbutton {
  background-color: #647552;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top:30px;
 }

/* change color on hover*/
 .smallbutton:hover {
  background-color: #EBF0E5;
  color: #4e4d4d;
   border: 1px solid #4e4d4d;
   margin: 3px 1px;
} 

 #productgrid {
   margin-left: auto;
  margin-right: auto;
   display: grid;
   justify-content: center;
   column-gap: 40px;
   row-gap: 20px;
   grid-template-areas: 
   "card1 card2 card3";
}

<!--Cards>

.card img{
  border-radius: 20px;
}

.card{
  display: inline-block;
  box-shadow: 2px 2px 20px rgb(100, 117, 101);
  border-radius: 20px; 
 }

.card-title {
  font-family:'Patua One';
   font-size: 24px;
   color: black;
   margin-bottom: 10px;
   text-align-last: center;
}

.card-text {
  font-family: 'Inter', Helvetica, sans-serif;
   font-size: 18px;
   color: black;
   margin-bottom: 10px;
   text-align: left;
}



.herobutton {
  background-color: #647552;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  top: 120px;
 }
/* change color on hover*/
.herobutton:hover {
  background-color:#EBF0E5;
  color:#4e4d4d;
   border: 1px solid #4e4d4d;
   opacity: 0.7;
  }







/* Footer */
.footer-background-img {
  background: url(../images/footer.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 730px;
}

#categoryGrid {
  margin: 0px 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 350px;
  grid-template-areas:
  "empty empty subscribe subscribe subscribe"
  "empty empty navitems contact buttons";
}

.categoryGridArea {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#empty{
  grid-area: empty;
}

#subscribe {
  grid-area: subscribe;
  align-content: center;
}

#navitems{
  grid-area: navitems;
  align-content: center;
  padding-right: 20px;
}

#contact{
  grid-area: contact;
  align-content: center;
  padding: 10px;
}

#buttons{
  grid-area: buttons;
  justify-content: center;
  padding: 10px;
}

#subscribe h1{
  font-family:'Patua One';
  font-size: 36px;
  color: black;
  position: relative;
  text-align: left;
}

#subscribe p1{
  font-family:'Inter', Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  position: relative;
  text-align: left;
}

.home_email{
  width: 450px; 
  height: 45px; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border: 1px solid #FFFFFF; 
  border-radius: 40px; 
  background: rgba(252, 218, 135, 0.68); 
  position: relative;
  text-align: left;
  left: -30px;
}

.home_email::placeholder{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  padding-left: 20px;
  color: #828A70;
}

.eventbutton3 {
  background-color: #647552;
  border: none;
  color: white;
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  bottom: -4px;
 }

/* change color on hover*/
 .eventbutton3:hover {
  background-color: #EBF0E5;
  color: #4e4d4d;
   border: 1px solid #4e4d4d;
   margin: 3px 1px;
} 


#navitems p1{
  font-weight: bold;
  font-size: 24px;
  position: relative;
  align-items: left;
  text-align: left;
  cursor: pointer;
  padding: 20px;
}

.contact1{
  padding-top: 5px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.contactinfo{
font-size: 24px;
text-align: left;
padding-top: 10px;
}

.address{
  font-size: 18px;
  text-align: left;
  padding-bottom: 15px;
  }

.button1{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.button1{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.eventbutton1 {
  background-color: transparent;
  border: none;
  color: #4e4d4d;
  padding: 5px 20px;
  text-align: center;
  text-decoration-line: underline;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  padding-bottom: 50px;
  text-shadow: 4px 4px 4px rgb(165, 161, 161);
 }
/* change color on hover*/
.eventbutton1:hover {
  color:#ffe3a0;
  background-color: none;
  border: none;
  text-shadow: 4px 4px 4px rgb(165, 161, 161);
  }

.socialmedia {
  position: relative;
  bottom: -30px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {

  .body-background-img {
    background: url(../images/Final\ Home\ page.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .hero{
  transform: scale(0.65);
 }

 .hero-paragraph{
   font-size: 30px;
 }

  .head{
      position: static;
      margin: 10px;
  }
  #productgrid {
      grid-template-areas: 
      "card1"
      "card2"
      "card3"
      ;
  }
  #demo {
      display: none;
  }

  .galleryhead {
    display: none;
  }
}

