.body-background-img {
   background: url(../images/Final\ Home\ page.png);
    background-repeat: no-repeat;
    background-size: cover;


}

<!--Navigation bar>
.nav-logo{
      width: 310px;
      height: 113px;
    position: relative;
    justify-content: center;
    align-items: center;
    }

.nav-search{
      width: 310px;
      height: 113px;
    position: relative;
    justify-content: center;
    align-items: center;
    }

.nav-item{
   position: relative;
   bottom: -10px;
   justify-content: center;
   align-items: center;

}

.nav a {
   color: white;
   padding: 30px 5px;
   padding-bottom: 0%;
   font-size: 24px;
   font-style: bold;
   font-family: 'inter', sans-serif;
   text-decoration: none;
   text-align: center;
   margin: 17px;
   text-shadow: 4px 4px 4px black;
   bottom: -100px;
}
/* change color on hover*/
.nav a:hover {
  color: #ffe3a0;
} 
<!--hero message>

 .hero-img p{
  text-align: center;
  position: relative;
  bottom:20px;
  margin-top: 100px;
 }   

 .hero-arrow-img p{
  text-align: center;
  position: relative;
  top: 50px;
 }   

 .hero-paragraph {
   font-family: 'Patua One', serif;
   font-weight: bold;
   font-size: 34px;
   color: black;
   margin: 100px auto;
   position: relative;
   margin-bottom: 50px;
   text-align: left;
  width: 792px;
  padding: 10px;
 }



 .herobutton {
   background-color: #647552;
   border: none;
   color: white;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   font-size: 24px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50px;
   top: 10px;
 }

 <!--Up Coming Event>

 .event h1{
   font-family: 'Patua One', serif;
   font-weight: bold;
   font-size: 36px;
   color: black;
   position: relative;
   text-align: center;
   margin: 10px;
   padding: 20px;
 }

 .event p {
   font-family: 'inter', sans-serif;
   font-size: 24px;
   color: black;
   position: relative;
   text-align: center;
 }

 .eventbutton {
   background-color: #647552;
   border: none;
   color: white;
   padding: 5px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 24px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50px;
   transition-duration: 0.4s;
   top: 10px;
 }

/* change color on hover*/
 .eventbutton a:hover {
   background-color: linear-gradient(180deg, #647552, #EBF0E5);
   border: 3px solid #4e4d4d;
} 
 #productgrid {
   margin: 0px 10%;
   margin-top: 20px;
   margin-bottom: 40px;
   display: grid;
   min-height: 513px;
   height: 10vh;
   grid-template-rows: 374px 374px 374px;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
   "card1 card2 card3";
}

<!--Cards>

.card-body{
color: white;
padding: 10px;
border-radius: 20px;
box-shadow: 6px 6px 6px 6px black;
}

.card-title {
  font-family: 'Patua One', serif;
   font-weight: bold;
   font-size: 24px;
   color: black;
   margin-bottom: 10px;
   text-align-last: center;
}

.card-text {
  font-family: 'inter', sans-serif;
   font-size: 18px;
   color: black;
   margin-bottom: 10px;
   text-align: left;
}

.btn-primary{ 
  background-color: #647552;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
}


<!--Gallery>

.gallery h1{
  font-family: 'Patua One', serif;
  font-weight: bold;
  font-size: 36px;
  color: black;
  position: relative;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.gallery p {
  font-family: 'inter', sans-serif;
  font-size: 24px;
  color: black;
  position: relative;
  text-align: center;
}